html {
  overscroll-behavior: none;
}
body {
  height: 90vh;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  overscroll-behavior: none;
}
.container {
  text-align: center;
}
p {
  font-size: x-large;
  color: rgb(253, 23, 61);
}
.buttons {
  display: flex;
  justify-content: space-around;
}
button {
  height: 50px;
  width: 80px;
  border: 2px solid rgb(253, 23, 61);
  border-radius: 5px;
  background-color: rgb(253, 152, 169);
}
.heart,
.heart1,
.heart2,
.heart3 {
  color: red;
  transform: scale(3);
  position: absolute;
  animation: heartbeat 5s ease 0s infinite;
}
.heart {
  top: 50px;
  left: 100px;
}
.heart1 {
  bottom: 50px;
  left: 100px;
}
.heart2 {
  bottom: 50px;
  right: 100px;
}
.heart3 {
  top: 50px;
  right: 100px;
}
a {
  display: none;
}

@keyframes heartbeat {
  0% {
    transform: scale(3);
  }
  30% {
    transform: scale(2);
  }
  50% {
    transform: scale(2.8);
  }
  80% {
    transform: scale(1.8);
  }
  100% {
    transform: scale(3);
  }
}
